# ExtremeKernel config file for enabling KSU

# Enable KSU
CONFIG_KSU=y
CONFIG_KSU_NONE_HOOK=y
# CONFIG_KSU_DEBUG is not set
CONFIG_KSU_ALLOWLIST_WORKAROUND=y
CONFIG_COMPAT=y
CONFIG_KSU_WITH_KPROBES=n
CONFIG_KSU_KPROBES_HOOK=n
CONFIG_KSU_MANUAL_SU=y
CONFIG_KSU_MULTI_MANAGER_SUPPORT=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_KPM=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_OVERLAY_FS=y
CONFIG_TMPFS_XATTR=y

# Enable SuSFS 2.0
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SUS_MAP=y

# EOF
