# ExtremeKernel config file for enabling KSU

# Enable KSU
CONFIG_KSU=y
CONFIG_HAVE_KPROBES=n
CONFIG_KSU_KPROBES_HOOK=n
CONFIG_KSU_MANUAL_HOOK=y
CONFIG_KPM=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_KSU_DEBUG=n
CONFIG_KSU_THRONE_TRACKER_ALWAYS_THREADED=y
CONFIG_KSU_ALLOWLIST_WORKAROUND=y
CONFIG_KSU_LSM_SECURITY_HOOKS=y
CONFIG_KSU_SWITCH_MANAGER=y

# Enable SuSFS 1.5.12
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SUS_SU=n
CONFIG_KSU_SUSFS_SUS_MAP=y
CONFIG_OVERLAY_FS=y
CONFIG_TMPFS_XATTR=y

# EOF
